.aboutMePage{
    font-family: $font-Ubuntu;
    padding-top: 25vh;
    max-width: 50vw;

    // Media queries for pc
    @media screen and (max-width: 1024px){
        max-width: 95vh;
    }

    .heroText{
        color: black;
        text-align: left;
        
        // &:hover span{
        //     animation: dance 0.75s infinite; 
        //     cursor: pointer;  
        // }     

        // ===============================
        // Delay animation jump
        // ===============================
        span{
            display: inline-block;

            &:nth-child(1){
                animation-delay: .1s;
            }
            &:nth-child(2){
                animation-delay: .3s;
            }
            &:nth-child(3){
                animation-delay: .5s;
            }
            &:nth-child(4){
                animation-delay: .7s;
            }
            &:nth-child(5){
                animation-delay: .9s;
            }
            &:nth-child(6){
                animation-delay: 1.1s;
            }  
            &:nth-child(7){
                color: white;
            }
            &:nth-child(8){
                animation-delay: 1.3s;
                
            }                                                                                                                                                   
            &:nth-child(9){
                animation-delay: 1.5s;
            }  
            &:nth-child(10){
                animation-delay: 1.7s;
            } 
            &:nth-child(11){
                animation-delay: 1.9s;
            }          
            &:nth-child(12){
                animation-delay: 2.1s;
            }                                                                                                       
        }

        // ===========
        // Words from about me
        // ===========
        div{
            
            margin-left: 5vw;
            opacity: 0;

            &.animated{
                animation: fadeInOpacity 2s forwards;
            }

            &:nth-child(1){
                font-size: 1.1rem;
                animation-delay: .1s;
            }
            &:nth-child(2){
                font-size: 3.0rem;
                font-weight: bold;
                border-bottom: 0.5rem solid lightgreen;
                border-radius: 0.5rem;
                animation-delay: 0.3s;
            }
            &:nth-child(3){
                font-size: 2rem;
                font-weight: bold;
                animation-delay: 0.5s;
            }
            &:nth-child(4){
                margin-top: 1vh;
                text-align: justify;
                font-size: 1.1rem;
                animation-delay: 0.7s;
            }      
            &:nth-child(5){
                margin-top: 2vh;
                font-size: 2rem;
                font-weight: bold;
                animation-delay: 0.9s;
                border-bottom: 0.5rem solid lightgreen;
                border-radius: 0.5rem;
            }
            &:nth-child(6){
                font-size: 2rem;
                font-weight: bold;
                animation-delay: 1.1s;

                // Icons
                ul{
                    padding: 0;
                    cursor: pointer;
                
                    a {
                        text-decoration: none;
                        color: black;
                    }   
                    
                    i{
                        padding-top: 1vh;
                        margin-right: 0.5vw;
                        transition: all 0.75s ease-in-out;
                                            
                        &:hover{
                            color: green;
                            animation: bounce 0.75s infinite; 
                        }      
                
                    }  

                }                          
            }                    
        }
   
    }

    
}
