
.gridContainerAboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 768px;
    flex-direction: column;

    .gridItemTitle{
        font-family: $font-Georgia;
        font-weight: bold;
        font-size: 3.5rem;
        color: $gray;
        padding-bottom: min(3vh, 30px);

        @media screen and (max-width: 800px){	
            color: $blue;	
            font-family: $font-Arial;	
            font-size: 2rem;
        }         
    }

    .gridItemBody{
        display: grid;
        grid-template-columns: 5fr 3fr;
        max-width: 75%;

        @media screen and (max-width: 1280px){	
            grid-template-columns: 1fr;
        } 

        .ItemImage{
            align-items: vertical;
            padding-left: min(96.900px,10vh);
            padding-top: min(96.900px,10vh);

            @media screen and (max-width: 1280px){	
                align-items: none;
                text-align: center;
                padding: 0;	
                padding-top: 50px;
            } 

            img{
                height: min(192px,20vw);
                width: min(192px,20vw);

                @media screen and (max-width: 800px){	
	                height: 40vw;	
                    width: 40vw;	
                    max-width: 200px;
                    max-height: 200px;
                } 

                object-fit: cover;
                box-shadow: 10px 10px 5px #ccc;

                transition: 0.5s all ease-in-out;
                &:hover{
                    transform: translateY(-5px);
                    box-shadow: 10px 10px 5px $light-blue;
                }

                 
            }
        }

        .ItemBody{
            font-family: $font-Segoe;
            font-size: 1.25rem;
            line-height: 1.68rem;
            color: $black;

            p{
                margin: 0;
                margin-top: min(19.380px,2vh);

                @media screen and (max-width: 1280px){
                    &:nth-child(3){
                        visibility: hidden;
                        font-size: 0;
                        margin: 0;
                        height: 0;
                    }
                }
    
            }

            ul{

                @media screen and (max-width: 1280px){

                        visibility: hidden;
                        font-size: 0;
                        margin: 0;
                        height: 0;
                    
                }

                li{
                    &::before{
                        content:"+";
                    }
                }
            }
        }
    }
}