$font-Arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-Segoe:  "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$font-Georgia: Georgia, Times, "Times New Roman", serif;