footer{


    background-color: $blue;
    width:  100%;
    height: 80px;
    margin-top: -80px;
    position: relative;
    
    // Media queries for pc
    @media screen and (max-width: 800px){
        height: 20vh;
        margin-top: -20vh;
        max-height: none;
    }


    @media screen and (orientation:landscape) and (max-width: 1024px) {
        height: 30vh;
    }

    .leftPanel{
        text-align: center;
        font-family: $font-Segoe;
        color: $white;
        font-size: 0.8rem;
        margin-top: -min(33.915vh,3.5vh); ;
        width: 100%;
        height: 70px;
        margin: auto;
        align-items: center;
        margin-left: 7.32vw;
        vertical-align: middle;
        padding-top: 20px;
        @media screen and (max-width: 800px){
            margin-left: 0;
            padding-top: 0px;
        }


        ul{
                // Media queries for pc
            @media screen and (min-width: 800px){
                visibility: hidden;
                font-size: 0rem;
            }
            
            font-size: 1.2rem;


        }
    }

    .footerArrow{

        // Media queries for pc
        @media screen and (max-width: 800px){
            visibility: hidden;
            width: 0;
        }
        height: 80px;

        button{

            
            background-color: $light-blue;
            width: 7.32vw;
            max-width: 140.54px; 
            height: 100%;

            border: none;
            color: white;
            font-size: 2rem;
            right: 10%;
            cursor: pointer;
            max-height: inherit;
            margin: auto;

            &:focus, &:active{
                outline: none;
            }

            &:hover{
                background-color: $cyan;
                color: $blue;
            }
        }
    }
}

