html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0px;
    padding: 0px;
    overflow: auto;

    .backgroundColor{
        max-height: 768px;
        height: 100vh;

        @media screen and (orientation: landscape) and (max-width: 800px){
            height: 568px;
        }

        &:nth-of-type(odd) {
            background-color:$light-cyan;
        }
                
        &:nth-of-type(even) {
            background-color:$white;
        }

        &#contactMePage{
            max-height: 100%;
        }
    }   
}

container{
    max-width: 1366px;
    margin: auto;
    display: flex;
    height: inherit;
    
    @media screen and (max-width: 800px) {
        max-width: 300px;
    }

    @media screen and (max-width: 320px) {
        max-width: 250px;
    }

    @media screen and (max-width: 280px) {
        max-width: 200px;
    }


    &.body{
        transform: translateX(0);
        transition: all 1s;

        &.open{
            transform: translateX(100vw);
        }
    }
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
 
ul {
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: inherit;  
}