.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 768px;
    flex-direction: column;
    
    .gridItemName{
        padding: 0;
        margin: 0;

        font-family: $font-Georgia;
        font-size: 3.5rem;
        font-weight: bold;
        color: $gray;
        text-align: center;

    }

    .gridItemPhrase{


        padding-top: min(25px,5.86vh);
        font-family: $font-Arial;
        font-size: 1.875rem;
        color: $gray;
        text-align: center;

        @media screen and (max-width: 800px){
            padding-top: min(15px,5.86vh);
        }

    }

    .gridItemDescription{
        padding: 0;
        margin: 0;

        padding-top: min(17.733px,1.83vh);
        font-family: $font-Segoe;
        font-size: 1.25rem;
        line-height: min(3.51vh, 2.5rem);
        text-align: justify;
        max-width: 50%;
        color: $gray;

        @media screen and (max-width: 800px){
            max-width: 80%;
            line-height: 27px;
            text-align: justify;
        }

        @media screen and (orientation: landscape) and (max-width: 1024px){
            line-height: 1.7rem;
            max-width: 50%;
        }

    }

    .gridItemButtons{
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding-top: min(44.090px,4.55vh);
        
        @media screen and (max-width: 800px){
            grid-template-columns: 1fr;
            padding-top: 40px;
        }  

        button{
            height: 7.42vh;
            max-height: 69.891px;
            max-width: 227.031px;
            width: 12.45vw;
            font-family: $font-Arial;
            font-size: 0.85rem;
            font-weight: bold;
            border: none;
            background: none;
            cursor: pointer;
            &:focus, &:active{
                outline: none;
            }

            @media screen and (max-width: 800px){
                width: 200px;
            }    

            @media screen and (orientation: landscape) and (max-width: 1024px){
                width: 200px;
                height: 50px;
            }
            
            &.buttonOne{
                
                
                margin-right: 0.59vw;
                color: $white;
                background-color: $blue;
                border-width: 0px;
                border-radius: 5px;

                &:active, &:hover{
                    background-color: $dark-blue;
                }
            }

            &.buttonTwo{
                @media screen and (max-width: 800px){
                    visibility: hidden;
                }

                margin-left: 0.59vw;
                color: $blue;
                background-color: $white;
                box-shadow: 0;
                border: 2px solid $cyan;

                border-radius: 5px;

                &:active, &:hover{
                    background-color: transparent;
                }
            }
        }
    }

}