navWebsite{
    // Media queries for pc
    @media screen and (max-width: 800px){
        visibility: hidden;
    }

    background-color: $blue;
    width:100%;

    height: 80px;
    
    position: fixed;
    top: 0px;
    z-index: 20;

    .navigationGrid{
    
        display: grid;
        grid-template-columns: 1fr 4fr  3fr;
        height: inherit;
        width: 100%;

    // Media queries for pc
        @media screen and (min-width: 900px) and (max-width: 1000px){
            grid-template-columns: 1fr 5fr 3fr 3fr;
        }

        .leftPanel{
            display: flex;
            align-items: center;
            max-height: 80px;

            ul{
                max-height: 80px;
                li{
                    font-family: $font-Arial;
                    color: $white;
                    font-size: 0.8rem;
                    transition: 0.5s all ease-in-out;
                    padding: min(25.948px,1vw);
                    &:hover{
                        transform: translateY(-5px);
                    }
                }   
            }

        }

        .rightPanel{
            display: flex;
            align-items: center;
            max-height: 80px;
            justify-content: flex-end;
            padding-right: 20px;
            ul{
                
                li{
                    font-family: $font-Arial;
                    color: $white;
                    font-size: 1rem;
                    padding: min(14.400px,0.75vw);
                    
                    transition: 0.5s all ease-in-out;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }   
            }

        }

        .navigationImage{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 28px;
                width: 31px;
            } 
        }
    }
}

navMobile{
    // Media queries for pc
    @media screen and (min-width: 800px){
        visibility: hidden;
    }
    

    width:78.9vw;
    height: max(568px,100vh);
    position: fixed;
    max-height: 100%;
    top: 0px;
    left: 0px;

    &.open{
        z-index: 20;
        overflow:scroll;
    }
    
    .gridNavContainer{
        flex-direction: column;
        display: flex;
        margin: 0;
        padding: 0;
        min-height: 568px;
        transform: translateX(-100vw);
        transition: all 1s;
        width: inherit;
        &.open{
            transform: translateX(0);
        }

        .topPart{
            height: max(84.141px,17.39vh);
            width: inherit;
            
            background-color: $blue;
            font-family: $font-Arial;
            font-size: 0.875rem;
            font-weight: bold;
            color: white;
            

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;


            img{
                height: 28px;
                width: 31px;
                max-width: none;
                margin-right: 30px;
                margin-left: 30px;

            } 
        }

        .bottomPart{
            height: 100%;
            width: inherit;
            background-color: $light-blue;    
            font-family: $font-Arial;
            color: white;

            display: flex;

            flex-direction: column;

            .bottomPartOne{
                width: inherit;

                div{
                    border-bottom: rgba($color: $blue, $alpha: 0.2) 0.1rem solid ;
                    height: max(52.922px,9.6vh);
                    
                    font-size: 0.625rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;

                    i{
                        font-size: 1rem;
                        padding-left: 30px;
                        width: 40px
                    }

                    a{
                        padding-left: 30px;
                    }
                  
                }
            }

            .bottomPartTwo{
                text-align: center;
                font-family: $font-Segoe;
                display: flex;
                height: inherit;
                width: inherit;
                justify-content: flex-end;
                flex-direction: column;

                div{
                    
                
                    ul{
                        li{
                            padding: 10px;
                        }
                    }

                    .textEnding{
                        width: 75%;
                        margin: auto;
                        font-size: 1rem;
                        line-height: 1.25rem;
                        margin-bottom: 35px;
                    }
                }
            }
        }

    }
}

hamburger{
    position: fixed;
    width: 4.3vw;
    height: 4.3vw;
    margin-top: 5.1vh;
    margin-left: 4.53vw;
    cursor: pointer;
    z-index: 21;

    // Media queries for pc
    @media screen and (min-width: 800px){
        visibility: hidden;
    }
    
    span{
        width: inherit;
        height: 0.3vh;
        position: fixed;
        background-color: $blue;
        transition: all 1s;

        &::before{
            content: "";
            display:block;
            height: 0.3vh;
            transform: translateY(0.75vh);
            background-color: $blue;
            transition: all 1s;

            @media screen and (orientation:landscape) {
                transform: translateY(1.5vh);
            }

        }

        &::after{
            content: "";
            display:block;
            height: 0.3vh;
            width: 50%;
            transform: translateY(1.25vh);
            background-color: $blue;
            transition: all 1s;

            @media screen and (orientation:landscape) {
                transform: translateY(3vh);
            }

        }
    }

    &.open{
        
        span{
            background-color: transparent;
            transform: translateX(78.13vw);
            &::before{
                transform: rotate(45deg);
            }      
            
            &::after{
                width:100%;
                transform: translateY(-0.35vh) rotate(-45deg);
            }  
        }

    
    }
    
}


