// ===========
// Horizontal navigation bar
// ==========
.horizontalNavigation{
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 10vh;
    left: 5vw;
    opacity:0;
    visibility: hidden;
    transition: all 1s ease-in-out;

    @media screen and (max-width: 1280px){
        font-size: 1rem;
    }


    &.open{
        opacity: 1;
        visibility: visible;
    }

    // Icons
    display: inline-block;
    ul{
        padding: 0;
        cursor: pointer;
    
        li{
            margin: 10vh;
            
        }

        a {
            text-decoration: none;
            color: black;
            display:block;
        }   
        
        i{
            padding-top: 1vh;
            margin-right: 0.5vw;
            transition: all 0.75s ease-in-out;
                                
            &:hover{
                color: green;
                animation: bounce 0.75s infinite; 
            }      
    
        }  

    }     
}

// ===========
// Carousel 
// ==========

// https://codepen.io/pascaloliv/pen/LVZaeE

// ================
// Variables
// ================

// Default Values for projects window
$menu-width: 25vw;
$scene-width: 75vw;
$scene-height: 50vh;

// Sections
$sections: 
  GameTheSystem, 
  HECO, 
  Kumu;

// Images
$pictograms: (
    GameTheSystem: url("../img/GameTheSystem_Logo.svg"),
    HECO: url('../img/HecoReward_Logo.png'),
    Kumu: url('../img/Kumu_Logo.png')
);

// Function to get correct images
@function get-picto-url($picto-name) {
  @if map-has-key($pictograms, $picto-name) {
    @return map-get($pictograms, $picto-name);
  }
 
  @else {
    @warn "This pictogram key doesn't exist."
  }
};


//================
// Start of CSS
// 1280 < should go to mid
//================ 
#scene {
    display: flex;
    align-items: center;
    justify-content: left;
    
    width: $scene-width;
    height: $scene-height;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;

    @media screen and (max-width: 1280px){
        flex-direction: column;
        height: $scene-height*1.50;
    }

    #left-zone {

        @media screen and (max-width: 1280px){
            order: 3;
            height: 35%;
            width: 55%;
        }
    
        background: $white;
        height: 75%;
        flex-grow: 0;
        display: flex;
        width: $menu-width;
        align-items: center;
        justify-content: left;
            
        .list{
            display: flex;
            list-style: none;
            
            align-content: stretch;
            flex-direction: column;
            flex-grow: 1;
            
            margin: 0;
            padding: 0;     

            @media screen and (max-width: 1280px){
                flex-direction: row;
            }
            
            li.item {
                @media screen and (max-width: 1280px){
                    width: 15vw;
                }
                input[type="radio"] {
                    
                    display: none;

                    // ============
                    // Start of label
                    // ============
                    & ~ label {
                        
                        display: block;
                        opacity: 0.5;
                        height: 3rem;
                        text-align: center;
                        line-height: 3rem;
                        
                        &:first-letter {
                            text-transform: uppercase;
                        }
                                    
                        &:hover {
                            opacity: 0.75;
                            cursor: pointer;
                        }
                    
                        // ===========
                        // This is for the images
                        // ===========
                        @each $item in $sections{
                            &.label_#{$item} {
                                &:before {
                                    content: " ";
                                    display: block;
                                    position: absolute;
                                    width: 3rem;
                                    height: 3rem;
                                    margin-left: 3vw;
                                    background-image: get-picto-url($item);
                                    background-position: center;
                                    background-size: 75% 75%;
                                    background-repeat: no-repeat;

                                    @media screen and (max-width: 1280px){
                                        margin-left: 0vw;
                                    }
                                }


                            }
                        }
                        
                        
                        @media screen and (max-width: 1280px){
                            font-size: 0;
                        }
                    }
                        
                    // ============
                    // Start of right size content
                    // ============
                    & ~ .content {
                        position: absolute;
                        left: $menu-width;
                        top: -$scene-height;
                        width: $scene-width - $menu-width;
                        height: $scene-height;
                        
                        animation-duration: 0.75s;
                        animation-name: slideout;
                        animation-timing-function: ease-out;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        @media screen and (max-width: 1280px){
                            left: 13vw;
                            font-size: 0.9rem;
                            height: 75%;
                            top: 100%;
                            animation-name: slideoutMobile;
                        }       

                        //============
                        // For images
                        //============
                        @each $item in $sections{
 
                            &.content_#{$item} {

                                
                                .picto {
                                    height: 5rem;
                                    width: 5rem;
                                    background-image: get-picto-url($item);
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;

                                    @media screen and (max-width: 1280px){
                                        height: 2.5rem;
                                        width: 2.5rem;                               
                                    }                                           
                                }
                            
                                h1{
                                    color: $red;
                                }
                            }
                        }
                        
                        h1 {
                            &:first-letter {
                                text-transform: uppercase;
                            }
                        }
                        p {
                            max-width: 50%;
                            text-align: center;      

                            @media screen and (max-width: 1280px){
                                max-width: 100%;
                            }       
    

                            a{
                                text-decoration: none;
                                color: $green;
                                font-family: $font-Ubuntu;
                                font-size: 2rem;
                                padding: 1vh;
                            }
                        }
                    }
                    
                    //==========
                    // When project is chosen
                    //===========
                    &:checked{
                        
                        & ~ label {
                            opacity: 1;
                            animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                            
                            @each $item in $sections{
                                &.label_#{$item} {
                                    color: $red;
                                    border-left: solid 0.2rem $red;
                                    padding-left: 0.5vw;
                                
                                    @media screen and (max-width: 1280px){
                                        border-left: 0rem;
                                        border-bottom: solid 0.2rem $red;
                                        padding-left: 0;
                                        width: 3rem;
                                        font-size: 0;
                                    }

                                }
                            }

                        }

                        & ~ .content {
                            animation-duration: 0.75s;
                            animation-name: slidein;
                            animation-fill-mode: forwards;
                            animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
                            
                            @media screen and (max-width: 1280px){
                                left: 13vw;
                                font-size: 0.9rem;
                                height: 75%;
                                top: 100%;
                                animation-name: slideinMobile;
                            } 
                        }
                    }
                }
            }
        }
    }
    
    #middle-border {
        background-color: $gray;
        height: 75%;
        flex-grow: 1;
        max-width: 0.2rem;
        z-index: 0;

        @media screen and (max-width: 1280px){
            order: 2;
            max-width: 95%;
            width: 100%;
            height: 0.2rem;
        }
    }
    
    #right-zone {
        background: $white;
        height: 100%;
        flex-grow: 3;

        @media screen and (max-width: 1280px){
            order: 1;
        }        
    }
}


