html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  color: black;
}

section {
  height: 100vh;
}

@media screen and (max-width: 375px) {
  section {
    height: 140vh;
  }
}

ul, li {
  display: inline;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
  padding: 2vh;
  position: relative;
  z-index: -1;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  background-color: lightgreen;
}

nav {
  position: fixed;
  top: 6vh;
  right: 3vw;
}

@media screen and (max-width: 1024px) {
  nav {
    visibility: hidden;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 2vw;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 0.5rem solid lightgreen;
}

nav .highlight {
  color: black;
  font-weight: bold;
  background-color: lightgreen;
  -webkit-transition: background-color linear 0.75s;
  transition: background-color linear 0.75s;
  border-bottom: 0rem;
}

kebab {
  position: fixed;
  top: 6vh;
  right: 6vw;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  kebab {
    visibility: hidden;
  }
}

kebab .kebab-Btn {
  border-radius: 100%;
  height: 1vw;
  width: 1vw;
  background-color: lightgreen;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1;
  z-index: 1;
}

kebab .kebab-Btn::before, kebab .kebab-Btn::after {
  content: '';
  border-radius: 100%;
  position: absolute;
  height: 1vw;
  width: 1vw;
  background-color: lightgreen;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

kebab .kebab-Btn::before {
  -webkit-transform: translateY(-1vh);
          transform: translateY(-1vh);
}

kebab .kebab-Btn::after {
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
}

kebab .kebab-Btn.open {
  -webkit-transform: translateX(-2vw);
          transform: translateX(-2vw);
  height: 0;
}

kebab .kebab-Btn.open::before {
  border-radius: 10%;
  width: 3vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

kebab .kebab-Btn.open::after {
  border-radius: 10%;
  width: 3vw;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

kebab .kebab-Background {
  opacity: 0;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  visibility: hidden;
}

kebab .kebab-Background.open {
  visibility: visible;
  opacity: 1;
}

kebab .kebab-Background li {
  display: block;
  margin: 10vh;
}

kebab .kebab-Background a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 0.5rem solid lightgreen;
  width: 20vw;
}

kebab .kebab-Background .highlight {
  color: black;
  font-weight: bold;
  background-color: lightgreen;
  -webkit-transition: background-color linear 0.75s;
  transition: background-color linear 0.75s;
  border-bottom: 0rem;
}

.logo {
  position: fixed;
  top: 4.5vh;
  left: 5vw;
  width: 3rem;
}

@media screen and (max-width: 375px) {
  .logo {
    width: 1.5rem;
  }
}

.aboutMePage {
  font-family: "Ubuntu", sans-serif;
  padding-top: 25vh;
  max-width: 60vw;
}

@media screen and (max-width: 1024px) {
  .aboutMePage {
    max-width: 80vh;
  }
}

.aboutMePage .heroText {
  color: black;
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
}

.aboutMePage .heroText span {
  display: inline-block;
}

.aboutMePage .heroText span:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.aboutMePage .heroText span:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.aboutMePage .heroText span:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.aboutMePage .heroText span:nth-child(4) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.aboutMePage .heroText span:nth-child(5) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.aboutMePage .heroText span:nth-child(6) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.aboutMePage .heroText span:nth-child(7) {
  color: white;
}

.aboutMePage .heroText span:nth-child(8) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.aboutMePage .heroText span:nth-child(9) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.aboutMePage .heroText span:nth-child(10) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.aboutMePage .heroText span:nth-child(11) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.aboutMePage .heroText span:nth-child(12) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.aboutMePage .heroText div {
  margin-left: 5vw;
  margin-bottom: 1.0vh;
  opacity: 0;
}

.aboutMePage .heroText div.animated {
  -webkit-animation: fadeInOpacity 2s forwards;
          animation: fadeInOpacity 2s forwards;
}

.aboutMePage .heroText div:nth-child(1) {
  font-size: 1.1rem;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.aboutMePage .heroText div:nth-child(2) {
  font-size: 3.0rem;
  font-weight: bold;
  border-bottom: 0.5rem solid lightgreen;
  border-radius: 0.5rem;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.aboutMePage .heroText div:nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.aboutMePage .heroText div:nth-child(4) {
  margin-top: 1vh;
  text-align: justify;
  font-size: 1.1rem;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.aboutMePage .heroText div:nth-child(5) {
  margin-top: 2vh;
  font-size: 2rem;
  font-weight: bold;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  border-bottom: 0.5rem solid lightgreen;
  border-radius: 0.5rem;
  margin-top: 5vh;
}

.aboutMePage .heroText div:nth-child(6) {
  font-size: 2rem;
  font-weight: bold;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.aboutMePage .heroText div:nth-child(6) ul {
  padding: 0;
  cursor: pointer;
}

.aboutMePage .heroText div:nth-child(6) ul a {
  text-decoration: none;
  color: black;
}

.aboutMePage .heroText div:nth-child(6) ul i {
  padding-top: 1vh;
  margin-right: 0.5vw;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.aboutMePage .heroText div:nth-child(6) ul i:hover {
  color: green;
  -webkit-animation: bounce 0.75s infinite;
          animation: bounce 0.75s infinite;
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes vertical {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
}

@keyframes vertical {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    top: 400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: 400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

.horizontalNavigation {
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: inline-block;
}

.horizontalNavigation.open {
  opacity: 1;
  visibility: visible;
}

.horizontalNavigation ul {
  padding: 0;
  cursor: pointer;
}

.horizontalNavigation ul li {
  margin: 10vh;
}

.horizontalNavigation ul a {
  text-decoration: none;
  color: black;
  display: block;
}

.horizontalNavigation ul i {
  padding-top: 1vh;
  margin-right: 0.5vw;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.horizontalNavigation ul i:hover {
  color: green;
  -webkit-animation: bounce 0.75s infinite;
          animation: bounce 0.75s infinite;
}

#scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 1000px;
  height: 400px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

#scene #left-zone {
  background: #fff;
  height: 75%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#scene #left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

#scene #left-zone .list li.item input[type="radio"] {
  display: none;
}

#scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}

#scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_GameTheSystem:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("../img/GameTheSystem_Logo.svg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_HECO:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("../img/HecoReward_Logo.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_Kumu:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("../img/Kumu_Logo.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
  left: 350px;
  top: -400px;
  width: 650px;
  height: 400px;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_GameTheSystem .picto {
  height: 100px;
  width: 100px;
  background-image: url("../img/GameTheSystem_Logo.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_GameTheSystem h1 {
  color: #D64541;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_HECO .picto {
  height: 100px;
  width: 100px;
  background-image: url("../img/HecoReward_Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_HECO h1 {
  color: #D64541;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_Kumu .picto {
  height: 100px;
  width: 100px;
  background-image: url("../img/Kumu_Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_Kumu h1 {
  color: #D64541;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
  text-transform: uppercase;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content p {
  max-width: 50%;
  text-align: center;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content p a {
  text-decoration: none;
  color: lightgreen;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  padding: 1vh;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_GameTheSystem {
  color: #D64541;
  border-right: solid 4px #D64541;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_HECO {
  color: #D64541;
  border-right: solid 4px #D64541;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_Kumu {
  color: #D64541;
  border-right: solid 4px #D64541;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#scene #middle-border {
  background-color: #eee;
  height: 75%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#scene #right-zone {
  background: #fff;
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
/*# sourceMappingURL=style.css.map */