html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

body .backgroundColor {
  max-height: 768px;
  height: 100vh;
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  body .backgroundColor {
    height: 568px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) and (min-width: 800px) {
  body .backgroundColor {
    height: 768px;
  }
}

@media screen and (orientation: portrait) and (max-height: 768px) {
  body .backgroundColor {
    height: 768px;
  }
}

body .backgroundColor:nth-of-type(odd) {
  background-color: #f1f9ff;
}

body .backgroundColor:nth-of-type(even) {
  background-color: #ffffff;
}

body .backgroundColor#contactMePage {
  max-height: 100%;
}

container {
  max-width: 1366px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  container {
    max-width: 550px;
  }
}

@media screen and (max-width: 540px) and (orientation: portrait) {
  container {
    max-width: 450px;
  }
}

@media screen and (max-width: 450px) and (orientation: portrait) {
  container {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  container {
    max-width: 250px;
  }
}

@media screen and (max-width: 280px) and (orientation: portrait) {
  container {
    max-width: 200px;
  }
}

container.body {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

container.body.open {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

navWebsite {
  background-color: #2699fb;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 20;
}

@media screen and (max-width: 800px) {
  navWebsite {
    visibility: hidden;
  }
}

navWebsite .navigationGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr  3fr;
      grid-template-columns: 1fr 4fr  3fr;
  height: inherit;
  width: 100%;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  navWebsite .navigationGrid {
    -ms-grid-columns: 1fr 5fr 3fr 3fr;
        grid-template-columns: 1fr 5fr 3fr 3fr;
  }
}

navWebsite .navigationGrid .leftPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80px;
}

navWebsite .navigationGrid .leftPanel ul {
  max-height: 80px;
}

navWebsite .navigationGrid .leftPanel ul li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding: min(25.948px, 1vw);
}

navWebsite .navigationGrid .leftPanel ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

navWebsite .navigationGrid .rightPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

navWebsite .navigationGrid .rightPanel ul li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: min(14.4px, 0.75vw);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

navWebsite .navigationGrid .rightPanel ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

navWebsite .navigationGrid .navigationImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

navWebsite .navigationGrid .navigationImage img {
  height: 28px;
  width: 31px;
}

navMobile {
  width: 78.9vw;
  height: max(568px, 100vh);
  position: fixed;
  max-height: 100%;
  top: 0px;
  left: 0px;
}

@media screen and (min-width: 800px) {
  navMobile {
    visibility: hidden;
  }
}

navMobile.open {
  z-index: 20;
  overflow: scroll;
}

navMobile .gridNavContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 568px;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: inherit;
}

navMobile .gridNavContainer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

navMobile .gridNavContainer .topPart {
  height: max(84.141px, 17.39vh);
  width: inherit;
  background-color: #2699fb;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

navMobile .gridNavContainer .topPart img {
  height: 28px;
  width: 31px;
  max-width: none;
  margin-right: 30px;
  margin-left: 30px;
}

navMobile .gridNavContainer .bottomPart {
  height: 100%;
  width: inherit;
  background-color: #7fc4fd;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

navMobile .gridNavContainer .bottomPart .bottomPartOne {
  width: inherit;
}

navMobile .gridNavContainer .bottomPart .bottomPartOne div {
  border-bottom: rgba(38, 153, 251, 0.2) 0.1rem solid;
  height: max(52.922px, 9.6vh);
  font-size: 0.625rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

navMobile .gridNavContainer .bottomPart .bottomPartOne div i {
  font-size: 1rem;
  padding-left: 30px;
  width: 40px;
}

navMobile .gridNavContainer .bottomPart .bottomPartOne div a {
  padding-left: 30px;
}

navMobile .gridNavContainer .bottomPart .bottomPartTwo {
  text-align: center;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

navMobile .gridNavContainer .bottomPart .bottomPartTwo div ul li {
  padding: 10px;
}

navMobile .gridNavContainer .bottomPart .bottomPartTwo div .textEnding {
  width: 75%;
  margin: auto;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 35px;
}

hamburger {
  position: fixed;
  width: 4.3vw;
  height: 4.3vw;
  margin-top: 5.1vh;
  margin-left: 4.53vw;
  cursor: pointer;
  z-index: 21;
}

@media screen and (min-width: 800px) {
  hamburger {
    visibility: hidden;
  }
}

hamburger span {
  width: inherit;
  height: 0.3vh;
  position: fixed;
  background-color: #2699fb;
  -webkit-transition: all 1s;
  transition: all 1s;
}

hamburger span::before {
  content: "";
  display: block;
  height: 0.3vh;
  -webkit-transform: translateY(0.75vh);
          transform: translateY(0.75vh);
  background-color: #2699fb;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (orientation: landscape) {
  hamburger span::before {
    -webkit-transform: translateY(1.5vh);
            transform: translateY(1.5vh);
  }
}

hamburger span::after {
  content: "";
  display: block;
  height: 0.3vh;
  width: 50%;
  -webkit-transform: translateY(1.25vh);
          transform: translateY(1.25vh);
  background-color: #2699fb;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (orientation: landscape) {
  hamburger span::after {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
  }
}

hamburger.open span {
  background-color: transparent;
  -webkit-transform: translateX(78.13vw);
          transform: translateX(78.13vw);
}

hamburger.open span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

hamburger.open span::after {
  width: 100%;
  -webkit-transform: translateY(-0.35vh) rotate(-45deg);
          transform: translateY(-0.35vh) rotate(-45deg);
}

.gridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 768px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainer .gridItemName {
  padding: 0;
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #7f7f7f;
  text-align: center;
}

.gridContainer .gridItemPhrase {
  padding-top: min(25px, 5.86vh);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.875rem;
  color: #7f7f7f;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .gridContainer .gridItemPhrase {
    padding-top: min(15px, 5.86vh);
  }
}

.gridContainer .gridItemDescription {
  padding: 0;
  margin: 0;
  padding-top: min(17.733px, 1.83vh);
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: min(3.51vh, 2.5rem);
  text-align: justify;
  max-width: 50%;
  color: #7f7f7f;
}

@media screen and (max-width: 800px) {
  .gridContainer .gridItemDescription {
    max-width: 80%;
    line-height: 27px;
    text-align: justify;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .gridContainer .gridItemDescription {
    line-height: 1.7rem;
    max-width: 50%;
  }
}

.gridContainer .gridItemButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: min(44.09px, 4.55vh);
}

@media screen and (max-width: 800px) {
  .gridContainer .gridItemButtons {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 40px;
  }
}

.gridContainer .gridItemButtons button {
  height: 7.42vh;
  max-height: 69.891px;
  max-width: 227.031px;
  width: 12.45vw;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.gridContainer .gridItemButtons button:focus, .gridContainer .gridItemButtons button:active {
  outline: none;
}

@media screen and (max-width: 800px) {
  .gridContainer .gridItemButtons button {
    width: 200px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .gridContainer .gridItemButtons button {
    width: 200px;
    height: 50px;
  }
}

.gridContainer .gridItemButtons button.buttonOne {
  margin-right: 0.59vw;
  color: #ffffff;
  background-color: #2699fb;
  border-width: 0px;
  border-radius: 5px;
}

.gridContainer .gridItemButtons button.buttonOne:active, .gridContainer .gridItemButtons button.buttonOne:hover {
  background-color: #007FEB;
}

.gridContainer .gridItemButtons button.buttonTwo {
  margin-left: 0.59vw;
  color: #2699fb;
  background-color: #ffffff;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: 2px solid #bce0fd;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .gridContainer .gridItemButtons button.buttonTwo {
    visibility: hidden;
  }
}

.gridContainer .gridItemButtons button.buttonTwo:active, .gridContainer .gridItemButtons button.buttonTwo:hover {
  background-color: transparent;
}

.gridContainerAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 768px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainerAboutMe .gridItemTitle {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #7f7f7f;
  padding-bottom: min(3vh, 30px);
}

@media screen and (max-width: 800px) {
  .gridContainerAboutMe .gridItemTitle {
    color: #2699fb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
  }
}

.gridContainerAboutMe .gridItemBody {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr;
      grid-template-columns: 5fr 3fr;
  max-width: 75%;
}

@media screen and (max-width: 1280px) {
  .gridContainerAboutMe .gridItemBody {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.gridContainerAboutMe .gridItemBody .ItemImage {
  -webkit-box-align: vertical;
      -ms-flex-align: vertical;
          align-items: vertical;
  padding-left: min(96.9px, 10vh);
  padding-top: min(96.9px, 10vh);
}

@media screen and (max-width: 1280px) {
  .gridContainerAboutMe .gridItemBody .ItemImage {
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    text-align: center;
    padding: 0;
    padding-top: 50px;
  }
}

.gridContainerAboutMe .gridItemBody .ItemImage img {
  height: min(192px, 20vw);
  width: min(192px, 20vw);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 5px #ccc;
          box-shadow: 10px 10px 5px #ccc;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

@media screen and (max-width: 800px) {
  .gridContainerAboutMe .gridItemBody .ItemImage img {
    height: 40vw;
    width: 40vw;
    max-width: 200px;
    max-height: 200px;
  }
}

.gridContainerAboutMe .gridItemBody .ItemImage img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 10px 10px 5px #7fc4fd;
          box-shadow: 10px 10px 5px #7fc4fd;
}

.gridContainerAboutMe .gridItemBody .ItemBody {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.68rem;
  color: #707070;
}

.gridContainerAboutMe .gridItemBody .ItemBody p {
  margin: 0;
  margin-top: min(19.38px, 2vh);
}

@media screen and (max-width: 1280px) {
  .gridContainerAboutMe .gridItemBody .ItemBody p:nth-child(3) {
    visibility: hidden;
    font-size: 0;
    margin: 0;
    height: 0;
  }
}

@media screen and (max-width: 1280px) {
  .gridContainerAboutMe .gridItemBody .ItemBody ul {
    visibility: hidden;
    font-size: 0;
    margin: 0;
    height: 0;
  }
}

.gridContainerAboutMe .gridItemBody .ItemBody ul li::before {
  content: "+";
}

.gridContainerProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 768px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainerProjects .gridItemTitle {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #7f7f7f;
  padding-bottom: min(3vh, 30px);
}

@media screen and (max-width: 800px) {
  .gridContainerProjects .gridItemTitle {
    color: #2699fb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
  }
}

.gridContainerProjects .gridItemCarousel {
  height: 50vh;
  max-height: 484.5px;
  position: relative;
  overflow: hidden;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .gridContainerProjects .gridItemCarousel {
    max-width: 100vw;
    width: 75%;
    height: 500px;
    max-height: 100vh;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .gridContainerProjects .gridItemCarousel {
    height: 500px;
    max-height: 100vh;
  }
}

@media screen and (max-height: 540px) and (orientation: landscape) {
  .gridContainerProjects .gridItemCarousel {
    max-width: 100vw;
    width: 75%;
    height: 400px;
    max-height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .gridContainerProjects .gridItemCarousel {
    max-width: 100vw;
    width: 75%;
    height: 100vh;
    max-height: 100vh;
  }
}

.gridContainerProjects .gridItemCarousel .carouselItem {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 98%;
  width: 98%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #2699fb;
  text-align: center;
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard {
  background: #ffffff;
  height: inherit;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px #ccc;
          box-shadow: 10px 10px 5px #ccc;
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectTitle {
  padding-top: min(48.45px, 5vh);
  font-weight: bold;
  font-size: 2rem;
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectImage {
  margin-top: min(38.76px, 4vh);
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectImage img {
  height: min(96.891px, 10vh);
  width: min(96.891px, 10vh);
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectDescription {
  width: 50%;
  margin: auto;
  margin-top: min(19.38px, 2vh);
  line-height: 1.5rem;
  color: #707070;
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectLinks {
  margin-top: min(19.38px, 2vh);
  font-size: 2rem;
}

.gridContainerProjects .gridItemCarousel .carouselItem .projectCard .projectLinks .projectPadding {
  padding-right: 10px;
}

.gridContainerProjects .gridItemCarousel .carousel-open:checked + .carouselItem {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 100;
  z-index: 1;
}

.gridContainerProjects .gridItemCarousel .carousel-control {
  background: transparent;
  border-radius: 50%;
  color: #2699fb;
  position: absolute;
  z-index: 2;
  font-size: min(48px, 2.5vw);
  width: min(48px, 2.5vw);
  height: min(48px, 2.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: center;
  top: 40%;
  line-height: min(44.16px, 2.5vw);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .gridContainerProjects .gridItemCarousel .carousel-control {
    font-size: 48px;
  }
}

.gridContainerProjects .gridItemCarousel .carousel-control:hover {
  background-color: #2699fb;
  color: #ffffff;
}

.gridContainerProjects .gridItemCarousel .carousel-control.prev {
  left: 2%;
}

.gridContainerProjects .gridItemCarousel .carousel-control.next {
  right: 5%;
}

.gridContainerProjects .gridItemCarousel #carousel-1:checked ~ .control-1,
.gridContainerProjects .gridItemCarousel #carousel-2:checked ~ .control-2,
.gridContainerProjects .gridItemCarousel #carousel-3:checked ~ .control-3 {
  display: block;
}

.gridContainerProjects .gridItemCarousel .carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10%;
  right: 0;
  left: -3.5%;
  text-align: center;
  z-index: 10;
}

.gridContainerProjects .gridItemCarousel .carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.gridContainerProjects .gridItemCarousel .carousel-bullet {
  color: #bce0fd;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.gridContainerProjects .gridItemCarousel .carousel-bullet:hover {
  color: #2699fb;
}

.gridContainerProjects .gridItemCarousel #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
.gridContainerProjects .gridItemCarousel #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
.gridContainerProjects .gridItemCarousel #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2699fb;
}

.gridContainerWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 768px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainerWork .gridItemTitle {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #7f7f7f;
  padding-bottom: min(3vh, 30px);
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemTitle {
    color: #2699fb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
  }
}

.gridContainerWork .gridItemjob {
  height: 50vh;
  max-height: 484.5px;
  position: relative;
  overflow: hidden;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob {
    max-width: 100vw;
    width: 75%;
    height: 550px;
    max-height: 100vh;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .gridContainerWork .gridItemjob {
    height: 500px;
    max-height: 100vh;
  }
}

@media screen and (max-height: 540px) and (orientation: landscape) {
  .gridContainerWork .gridItemjob {
    max-width: 100vw;
    width: 75%;
    height: 400px;
    max-height: 100vh;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) and (max-height: 300px) {
  .gridContainerWork .gridItemjob {
    height: 400px;
    max-height: 400px;
  }
}

@media screen and (max-width: 320px) {
  .gridContainerWork .gridItemjob {
    max-width: 100vw;
    width: 75%;
    height: 100vh;
    max-height: 100vh;
  }
}

@media screen and (max-width: 280px) and (orientation: portrait) {
  .gridContainerWork .gridItemjob {
    height: 200vh;
    max-height: 200vh;
  }
}

.gridContainerWork .gridItemjob .jobItem {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #707070;
  text-align: center;
}

.gridContainerWork .gridItemjob .jobItem .jobCard {
  background: transparent;
  height: inherit;
  text-align: left;
  width: inherit;
  margin-left: min(15vw, 192px);
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard {
    padding-top: 3vh;
    margin-left: 0vw;
  }
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobTitle {
  font-weight: bold;
  font-size: 1.875rem;
  padding-bottom: min(9.69px, 1vh);
  border-bottom: 0.2rem solid #7fc4fd;
  line-height: 2rem;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard .jobTitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-top: 0.2rem solid #7fc4fd;
    margin-top: 1vh;
  }
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobTitle img {
  width: 30px;
  height: 30px;
  margin-top: min(9.69px, 1vh);
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard .jobTitle img {
    margin-top: 0vh;
  }
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobTitle span {
  color: #2699fb;
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobDate {
  padding-top: min(9.69px, 1vh);
  padding-bottom: min(9.69px, 1vh);
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobDescription {
  padding-top: min(19.38px, 2vh);
  line-height: 1.5rem;
}

.gridContainerWork .gridItemjob .jobItem .jobCard .jobDescription p {
  padding-bottom: 1rem;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard .jobDescription p {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard .jobDescription {
    padding-top: 1vh;
    line-height: 1.3rem;
  }
}

@media screen and (max-height: 600px) {
  .gridContainerWork .gridItemjob .jobItem .jobCard .jobDescription {
    padding-top: 1vh;
    line-height: 1rem;
    font-size: 1rem;
  }
}

.gridContainerWork .gridItemjob .job-open:checked + .jobItem {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 100;
}

.gridContainerWork .gridItemjob #job-1:checked ~ .control-1,
.gridContainerWork .gridItemjob #job-2:checked ~ .control-2,
.gridContainerWork .gridItemjob #job-3:checked ~ .control-3,
.gridContainerWork .gridItemjob #job-4:checked ~ .control-4 {
  display: block;
}

.gridContainerWork .gridItemjob .job-control {
  background: transparent;
  border-radius: 50%;
  color: #2699fb;
  position: absolute;
  z-index: 0;
  font-size: min(48px, 2.5vw);
  width: min(48px, 2.5vw);
  height: min(48px, 2.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: center;
  top: 95%;
  line-height: min(44.16px, 2.5vw);
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 800px) {
  .gridContainerWork .gridItemjob .job-control {
    visibility: hidden;
  }
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 95%;
  }
}

@media screen and (max-height: 1024px) and (orientation: (min-width: 800px)) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 80%;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 80%;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) and (max-height: 300px) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 80%;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 90%;
  }
}

@media screen and (max-width: 280px) and (orientation: portrait) {
  .gridContainerWork .gridItemjob .job-control {
    font-size: 10vw;
    top: 93%;
  }
}

.gridContainerWork .gridItemjob .job-control:hover {
  background-color: #2699fb;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .job-control:hover {
    background-color: none;
    color: #2699fb;
  }
}

.gridContainerWork .gridItemjob .job-control.prev {
  left: 30%;
}

.gridContainerWork .gridItemjob .job-control.next {
  right: 30%;
}

.gridContainerWork .gridItemjob .job-indicators {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .job-indicators {
    margin: auto;
    text-align: center;
  }
}

.gridContainerWork .gridItemjob .job-indicators li {
  display: block;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .job-indicators li {
    display: inline-block;
  }
}

.gridContainerWork .gridItemjob .job-indicators .job-bullet {
  color: #bce0fd;
  border-left: 0.5rem solid;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  height: min(72.675px, 7.5vh);
  width: 20%;
}

@media screen and (max-width: 800px) {
  .gridContainerWork .gridItemjob .job-indicators .job-bullet {
    font-size: 0rem;
    height: 0.5vh;
    width: 6.0vh;
    border-left: 0;
    border-top: 0.3rem solid;
  }
}

.gridContainerWork .gridItemjob .job-indicators .job-bullet:hover {
  color: #2699fb;
}

.gridContainerWork .gridItemjob .job-indicators .job-bullet .jobTitle {
  padding-left: min(19.2px, 1vw);
  padding-top: min(2.5vh, 25px);
}

.gridContainerWork .gridItemjob #job-1:checked ~ .control-1 ~ .job-indicators li:nth-child(1) .job-bullet,
.gridContainerWork .gridItemjob #job-2:checked ~ .control-2 ~ .job-indicators li:nth-child(2) .job-bullet,
.gridContainerWork .gridItemjob #job-3:checked ~ .control-3 ~ .job-indicators li:nth-child(3) .job-bullet,
.gridContainerWork .gridItemjob #job-4:checked ~ .control-4 ~ .job-indicators li:nth-child(4) .job-bullet {
  color: #2699fb;
}

.gridContainerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 768px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainerContact .gridItemTitle {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #7f7f7f;
  padding-bottom: min(3vh, 30px);
  text-align: left;
}

@media screen and (max-width: 800px) {
  .gridContainerContact .gridItemTitle {
    color: #2699fb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
  }
}

.gridContainerContact .gridItemBody {
  -webkit-box-shadow: 10px 10px 5px #bce0fd;
          box-shadow: 10px 10px 5px #bce0fd;
  background-color: #ffffff;
  width: min(750px, 50vw);
  height: min(500px, 50vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: min(136.594px, 10%);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  color: #7f7f7f;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .gridContainerContact .gridItemBody {
    width: 75vw;
    font-size: 1.5rem;
  }
}

.gridContainerContact .gridItemBody .gridItemButtons {
  padding: 0;
  margin: 0;
  padding-top: min(44.09px, 4.55vh);
}

.gridContainerContact .gridItemBody .gridItemButtons button {
  height: 7.42vh;
  width: 12.45vw;
  max-height: 69.891px;
  max-width: 227.031px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.gridContainerContact .gridItemBody .gridItemButtons button:focus, .gridContainerContact .gridItemBody .gridItemButtons button:active {
  outline: none;
}

.gridContainerContact .gridItemBody .gridItemButtons button.buttonTwo {
  color: #ffffff;
  background-color: #2699fb;
  border-width: 0px;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .gridContainerContact .gridItemBody .gridItemButtons button.buttonTwo {
    width: 44.3vw;
    height: 8.55vh;
    font-size: 1rem;
  }
}

.gridContainerContact .gridItemBody .gridItemButtons button.buttonTwo:active, .gridContainerContact .gridItemBody .gridItemButtons button.buttonTwo:hover {
  background-color: #007FEB;
}

footer {
  background-color: #2699fb;
  width: 100%;
  height: 80px;
  margin-top: -80px;
  position: relative;
}

@media screen and (max-width: 800px) {
  footer {
    height: 20vh;
    margin-top: -20vh;
    max-height: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  footer {
    height: 30vh;
  }
}

footer .leftPanel {
  text-align: center;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  margin-top: -min(33.915vh, 3.5vh);
  width: 100%;
  height: 70px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7.32vw;
  vertical-align: middle;
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  footer .leftPanel {
    margin-left: 0;
    padding-top: 0px;
  }
}

footer .leftPanel ul {
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  footer .leftPanel ul {
    visibility: hidden;
    font-size: 0rem;
  }
}

footer .footerArrow {
  height: 80px;
}

@media screen and (max-width: 800px) {
  footer .footerArrow {
    visibility: hidden;
    width: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  footer .footerArrow {
    height: 30vh;
  }
}

footer .footerArrow button {
  background-color: #7fc4fd;
  width: 7.32vw;
  max-width: 140.54px;
  height: 100%;
  border: none;
  color: white;
  font-size: 2rem;
  right: 10%;
  cursor: pointer;
  max-height: inherit;
  margin: auto;
}

footer .footerArrow button:focus, footer .footerArrow button:active {
  outline: none;
}

footer .footerArrow button:hover {
  background-color: #bce0fd;
  color: #2699fb;
}
/*# sourceMappingURL=style.css.map */